/* General styles for the app */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #f0f0f0;
  min-height: 100vh;
  padding: 20px;
}

/* Styles for the Header component */
.header {
  width: 100%;
  padding: 20px;
  background-color: #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  flex-grow: 1;
}

.site-title {
  font-size: 36px;
  margin: 0;
  color: #ffcc00;
}

.subtitle {
  font-size: 18px;
  margin: 0;
  color: #ffcc00;
  margin-bottom: 10px;
}

.portal-image-container {
  display: flex;
  gap: 10px;
  justify-content: right;
  align-items: end;
}

.portal-image {
  width: 40%;
  height: auto;
}

/* Styles for the ErrorButton component */
.error-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffcc00;
  color: #1c1c1c;
  border: 2px solid #ffcc00;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.error-button:hover {
  background-color: #1c1c1c;
  color: #ffcc00;
}

/* Styles for the ErrorBoundary component */
.error-boundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
  background-color: #ffcc00;
  border-radius: 10px;
}

.error-message {
  font-size: 24px;
  color: #ff0000;
}

.error-suggestion {
  font-size: 18px;
  color: #1c1c1c;
}

.refresh-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1c1c1c;
  color: #ffcc00;
  border: 2px solid #1c1c1c;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.refresh-button:hover {
  background-color: #ffcc00;
  color: #1c1c1c;
}

/* Styles for the NotFound component */

.not-found {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #00bfff;
  border-radius: 10px;
}

.not-found-message {
  font-size: 24px;
  color: #ff0000;
  text-align: center;
}

.not-found-suggestion {
  font-size: 18px;
  color: #1c1c1c;
  text-align: center;
}

.return-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1c1c1c;
  color: #ffcc00;
  border: 2px solid #1c1c1c;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  display: block;
  margin: 20px auto 0;
}

.return-button:hover {
  background-color: #ffcc00;
  color: #1c1c1c;
}

/* Styles for the Search component */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #ffcc00;
  border-radius: 10px;
  margin-bottom: 20px;
}

.search input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #1c1c1c;
  border-radius: 4px;
  margin-right: 10px;
  flex-grow: 1;
  max-width: 300px;
}

.search button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1c1c1c;
  color: #ffcc00;
  border: 2px solid #1c1c1c;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.search button:disabled {
  background-color: #ccc;
  color: #666;
}

.search button:hover:not(:disabled) {
  background-color: #ffcc00;
  color: #1c1c1c;
}

/* Styles for the Results component */
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #00bfff;
  border-radius: 10px;
}

/* Styles for the CharacterCard component */
.character-card {
  background-color: #ffcc00;
  border: 2px solid #1c1c1c;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  height: 500px;
  text-align: center;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.character-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.character-card h2 {
  font-size: 20px;
  margin: 10px 0;
  color: #1c1c1c;
}

.character-card p {
  font-size: 16px;
  margin: 5px 0;
  color: #1c1c1c;
}

.character-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Styles for the Loading component */
.loading {
  font-size: 24px;
  color: #00bfff;
}

/* Styles for the NotFound component */
.not-found {
  font-size: 24px;
  color: #ff0000;
}
