:root {
  --primary-bg-color-light: #fff874;
  --secondary-bg-color-light: #24325f;
  --accent-color-light: #f675da;
  --error-color-light: #ff0000;

  --primary-bg-color-dark: #1c1c1c;
  --secondary-bg-color-dark: #3d373c;
  --accent-color-dark: #b7e4f9;
  --error-color-dark: #ff0000;
}

.theme-light {
  --primary-bg-color: var(--primary-bg-color-light);
  --secondary-bg-color: var(--secondary-bg-color-light);
  --accent-color: var(--accent-color-light);
  --error-color: var(--error-color-light);
}

.theme-dark {
  --primary-bg-color: var(--primary-bg-color-dark);
  --secondary-bg-color: var(--secondary-bg-color-dark);
  --accent-color: var(--accent-color-dark);
  --error-color: var(--error-color-dark);
}

.app {
  background-color: var(--primary-bg-color);
}

/* General styles for the app */
.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* Styles for the Header component */
.header {
  width: 100%;
  padding: 20px;
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  flex-grow: 1;
}

.site-title {
  font-size: 36px;
  margin: 0;
  color: var(--accent-color);
}

.subtitle {
  font-size: 18px;
  margin: 0;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.portal-image-container {
  display: flex;
  gap: 10px;
  justify-content: right;
  align-items: end;
}

.portal-image {
  width: 100%;
  max-height: 300px;
}

/* Styles for the ErrorButton component */
.error-button {
  max-width: 20%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.error-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

/* Styles for the ErrorBoundary component */
.error-boundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
}

.error-message {
  font-size: 24px;
  color: var(--error-color);
}

.error-suggestion {
  font-size: 18px;
  color: var(--accent-color);
}

.refresh-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.refresh-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

/* Styles for the NotFound component */
.not-found {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
}

.not-found-message {
  font-size: 24px;
  color: var(--error-color);
  text-align: center;
}

.not-found-suggestion {
  font-size: 18px;
  color: var(--accent-color);
  text-align: center;
}

.return-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  display: block;
  margin: 20px auto 0;
}

.return-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

/* Styles for the Search component */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  gap: 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.search input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  flex-grow: 1;
  max-width: 50%;
}

.search button {
  max-width: 20%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.search button:disabled {
  background-color: #ccc;
  color: #666;
}

.search button:hover:not(:disabled) {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

/* Styles for the Results component */
.results {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
}

.leftSide {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rightSide {
  width: 50%;
}

/* Styles for the CharacterCard component */
.character-card {
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  height: 500px;
  text-align: center;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.character-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.character-card h2 {
  font-size: 20px;
  margin: 10px 0;
  color: var(--accent-color);
}

.character-card p {
  font-size: 16px;
  margin: 5px 0;
  color: var(--accent-color);
}

.character-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Styles for the Loading component */
.loading {
  font-size: 24px;
  color: var(--accent-color);
}

/* Styles for the Pagination component */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: var(--accent-color);
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  color: #666;
  border-color: #666;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

/* Styles for the CharacterDetails component */
.character-details-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.character-details {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--accent-color);
  border-radius: 10px;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 28px;
  color: var(--secondary-bg-color);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-button:hover {
  color: var(--error-color);
}

/* Styles for Theme component */
.theme-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.theme-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}
